<style>
    .menu {
      position: relative;
      display: flex;
      justify-content: center; /* horizontally center the menu items */
      background-color: #333;
      color: #fff;
      padding: 10px;
    }
    .page-header{
      text-align: center;
      color: #023020;

    }
    .menu button {
      background-color: #eee;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      display: block;
      width: 100%;
      text-align: right;
    }

    .menu ul {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 999;
      background-color: #fff;
      border: 1px solid #ccc;
      padding: 0;
      margin: 0;
      display: none;

    }

    .menu li {
      list-style: none;
      padding: 10px;
      border-bottom: 1px solid #ccc;
      align-items: center;

    }

    .menu li:last-child {
      border-bottom: none;
    }

    .menu li a {
      color: #333;
      text-decoration: none;

    }

    .menu li a:hover {
      background-color: #ccc;

    }
  .content{
    background-color: pink; 
  }

    /* Add styles for small screens */
    @media (max-width: 767px) {
      .menu ul {
        position: static;
        display: none;
      }

      .menu.active ul {
        
        display: flex;
        justify-content: center; /* horizontally center the menu items */
        background-color:#B2BEB5;
        color: green;
        padding: 10px;
        margin: 0 10px;


        
      }
    }

  </style>
